header {
    height: 100vh;
    background: black;
    background-image: url("img/Cheonggyecheon-in-seoul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0px 0px 10px;

    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    header h1 {
        
        font-size: 6rem;
    }
}


header > a {
    position: absolute;
    align-self: flex-end;
    color: white;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
    
}

#contact {
    background: lightblue;
    border-top-style: ridge;
}

.contact-link {
    color: yellow;
    font-style: italic;
    
}

.contact-icon {
    color: black;
}

section > .container {
    padding-top: 68px;
}


.icon-size {
    font-size: 10rem;
}

.portfolio-img {
    margin-bottom: 1rem;
}

.arrow {
    color: black;
}

.form-message {
    height: 10rem;
}