header {
    height: 100vh;
    background: black;
    background-image: url("img/Cheonggyecheon-in-seoul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0px 0px 10px;

    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    header h1 {
        
        font-size: 6rem;
    }
}


header > a {
    position: absolute;
    align-self: flex-end;
    color: white;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
    
}

.contact-link {
    color: yellow;
    font-style: italic;
    
}

section > .container {
    padding-top: 68px;
}

#about {
    min-height: 100vh;
    background: linear-gradient(orange, #111);
    color: white;
    border-bottom-style: solid;
}

.icon-size {
    font-size: 12rem;
}

#portfolio {
    background: linear-gradient(white, white)
}



.portfolio-img {
    margin-bottom: 1rem;
}

.arrow-black {
    color: black;
}

.arrow-white {
    color: white;
}

.form-message {
    height: 10rem;
}